FLASK_ENV=development
SECRET_KEY=luiytyrtsedxcfvyiuhopi9o8iuyrtetsdrftuyiuhoouiuytdresdgfgygjhb
JWT_SECRET_KEY=oiutyrtdfgvhbjnpokpooiuytdhijpoiythdgcgvh
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Ashmit@18
DB_NAME=library_db
